/* BODY / WRAPPER ELEMENTS */
body{
    min-height: 100vh;
    width: 100vw;
    font-family: "brother-1816", sans-serif;
    display: flex;
}

.content-wrap{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
@media screen and (min-width: 962px){
    .content-wrap{
        flex-direction: row;
        justify-content: stretch;
    }
}
/* SECTION ELEMENTS */
section{
    background: rgba(0,0,0,0);
    margin: 10px
}
.bio-section,
.contact-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

.portfolio-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .1rem;
}
@media screen and (min-width: 736px){
    .portfolio-section{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
}
@media screen and (min-width: 700px){
    .portfolio-section{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 962px){
    section{
        min-height: 100vh;

    }

    .bio-section,
    .contact-section{
        min-width: 20rem;


    }
    .portfolio-section{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: left;
        padding-left: 2rem;
    }

}

/* BIO SECTION */
.logo-wrap{
    height: 10rem;
    width: 10rem;
    margin: 2rem auto;
}
.logo{
    height: 100%;
    width: auto;
    transform: scale(1.1);
    transition: .7s;
    filter: drop-shadow( 0 -10px 3px rgba(0,0,0,.5));
    cursor: pointer;
}
.logo:hover{
    transform: scale(1);
    filter: drop-shadow( 0 -5px 2px rgba(0,0,0,.5));
    transition: .2s;
}
.bio-hidden .logo:hover{
    transform: scale(1.1);
    transition: .2s;
    filter: drop-shadow( 0 10px 3px rgba(0,0,0,.3));

    
}

.logo path{
    transition: 1s;
    fill: rgba(0,0,0,.7);
    stroke: white;
    stroke-width: 5px;
}


.bio-hidden .basic-info{
    background: white;
    color: inherit;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    font-weight: 100;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);

}

.basic-info{
    display: flex;    
    flex-direction: column;
    align-items: center;
    padding: 1.5rem .5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: .5s;

    background: rgba(0,0,0,.8);
    color: white;
    font-weight: 100;
    box-shadow: 0 -10px 20px rgba(0,0,0,.5);

}
.name{
    font-size: 1.2rem;
    letter-spacing: .6rem;
    margin: 0 0 1rem 0;

}
.title{
    font-size: .8rem;
    letter-spacing: .1rem;
}
@media screen and (min-width: 962px){
    .name{
        font-size: .9rem;
        margin-bottom: .5rem;
        margin-left: .6rem;
    }
    
    .title{
        font-size: .7rem;
    }

}

.extended-info{
    max-height: 150vh;
    margin: 1.5rem 0;
    padding: 1.5rem;
    opacity: 1;
    transition: .5s ease-in-out;
    border-left: solid 1px rgba(0,0,0,.5);
    border-right: solid 1px rgba(0,0,0,.5);
    text-align: justify;
}

.extended-toggle{
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 2rem auto;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    transition: .5s;
    transform: scale(1);
}
.extended-info p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 100;
}

.extended-info h3{
    margin: 2.6rem 1rem 1.8rem 1rem;
    border-left: solid rgba(0,0,0,.7) 1px;
    border-right: solid  rgba(0,0,0,.7) 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}
.technologies{
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 962px){
    .extended-info{
        font-size: .8rem;
        line-height: 1.4rem;
        max-height: 30rem;
    }
    .extended-info h3{
        font-size: .8rem;
        margin: 1.6rem 1rem .8rem 1rem;

    }
    .extended-info p{
        font-size: .7rem;
        line-height: 1.4rem;
    }
}

.extended-toggle svg{
    height: 100%;
    width: 100%;
    transition: .5s;

}
.extended-toggle:hover svg{
    transform: scale(1.2);

}

.extended-toggle svg circle,
.extended-toggle svg polyline{
    transition: .5s;
    stroke: rgba(0,0,0,.6);
}

.extended-toggle:hover svg circle, 
.extended-toggle:hover svg polyline{
    stroke-width: 5px;
    stroke: rgba(0,0,0,1)
}


/* BIO HIDDEN TOGGLE */
.bio-hidden .extended-info{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 1.5rem;
    margin: 0;
}


.bio-hidden .logo {
    transform: scale(1);
    filter: drop-shadow( 0 10px 3px rgba(0,0,0,.3));
}

.bio-hidden .logo path{
    fill: rgba(255,255,255,1);
    /* stroke: rgba(0,0,0,1); */
    stroke-width: 5px;
}

.extended-toggle path{
    fill: none;
    stroke: rgba(0,0,0,.1);
}

.rotated{
    transform: rotate(180deg);
}


/* PORTFOLIO SECTION */

.project-link,
.thumbnail-wrap,
.project-text-wrap{
    transition: .6s;
}

.project-link{
    position: relative;
    box-shadow: 0px -5px 1rem rgba(0,0,0,.2);
    background: rgba(0,0,0,.1);
    width: 80vw;
    height: 80vw;
    margin: 5vw 10vw;
}

.thumbnail-wrap,
.project-text-wrap{
    pointer-events: none;
}

.thumbnail-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0,0,0,.5);
    overflow: hidden;

}

.project-text-wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    height: 100%;
    width: 100%;
}

.project-title,
.project-blurb{
    text-align: center;
}
.project-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,.04);
}
.project-blurb{
    min-height: 5rem;
    font-weight: 100;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    line-height: 1.4rem;
    text-transform: uppercase;
    flex-grow: 100;
}



@media screen and (min-width: 700px){
    .project-link{
        margin: 1rem;
        height: 14rem;
        width: 14rem;
    }
    .project-link:hover .thumbnail-wrap{
        transform: rotate(-90deg);
    }
    .project-link:hover .project-text-wrap{
        opacity: 0;
        transform: rotate(-90deg);
    }
    .project-link:hover{
        z-index: 1;
    }
    
    .thumbnail-wrap{

    }

    .project-title{
        font-size: .9rem;
    }

    .project-blurb{
        font-size: .75rem;
        line-height: 1.2rem;
    }

    .project-screenshot{
        height: 100%;
        object-fit: contain;
        transform: rotate(90deg);
    }
    

}

/* <a class="project-link" href="#">
<div class="thumbnail-wrap">
    <h3 class="project-title"></h3>
    <p class="project-blurb">

    </p>
</div>
</a> */



/* CONTACT SECTION */
.contact-container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 16rem;
    width: 16rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;

}

.social-wrap{
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    box-shadow: 0 -15px 35px rgba(0,0,0,.6);
    transition: .8s;
    padding: 1rem;
    transition: .5s;
}


.social-wrap path{
    fill: rgba(0,0,0,.02);
    stroke: rgba(0,0,0,.3);
    stroke-width: .3px;
    transition: .5s;
}

.bio-hidden .social-wrap {
    box-shadow: 0 15px 35px rgba(0,0,0,.6);
}

.social-wrap:hover{
    transform: scale(1.1);
}
.social-wrap:hover path{
    fill: rgba(0, 0, 0, 0.8);
}

strong{
    font-weight: 400;
}